datasets/
mels/
alignments/
contrib/
tmp/
results/
wandb/
model_ckpt/
model/2022*

*.tar*
**.patch
*.patch
*.zip
*.out

waveglow/pretrained_model/
results/
.idea
.ipynb_checkpoints

__pycache__/
*/__pycache__/

.DS_Store
